.chat-messages-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Important */
    min-height: 0;
    overflow-y: auto;
    scrollbar-width: none;
    padding-top: 15px;
}
