.input-box {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-top: 25px;
}
.input {
    border-radius: 6px;
    border-width: 1px;
    padding: 10px 12px;
    margin-bottom: 10px;
}
