.pass-button {
    position: absolute;
    right: 10px;
    margin-top: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: rgb(0, 123, 255);
}

.pass-container {
    display: flex;
    align-items: start;
    position: relative;
}
.pass-input {
    border-radius: 6px;
    border-width: 1px;
    padding: 10px 12px;
    flex: 1;
}
