.chatbot-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 15px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.chatbot-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    min-height: 0;
    /* overflow removed */
}

.chatbot-box-top {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    flex: 1;
    min-height: 0;
    /* overflow removed */
}
